$BORDER_COLOR: #ececec;
$BORDER_COLOR_DARK: #d2d2d2;
$BUTTON_BG_COLOR: #f4f4f4;
$BUTTON_BG_COLOR_HOVER: #f0f0f0;
$WHITE: #fff;
$MAJAN_BORDER_COLOR: #3a3a3a;
$MAJAN_BG_COLOR: #fff;
$MAJAN_BG_COLOR_HOVER: rgb(227, 227, 227);
$MAJAN_BG_COLOR_ACTIVE: rgb(255, 153, 153);